
TEST_DB_USERNAME=""
TEST_DB_PASSWORD=""
TEST_DB_HOST=""
TEST_DB_DATABASE_NAME=""

DEV_DB_USERNAME=""
DEV_DB_PASSWORD=""
DEV_DB_HOST=""
DEV_DB_DATABASE_NAME=""

PROD_DB_USERNAME=""
PROD_DB_PASSWORD=""
PROD_DB_HOST="localhost"
PROD_DB_DATABASE_NAME=""

ENV_MODE="TEST"

SALT_ROUNDS=10
JWT_SECRET="MY_INTERESTING_SECRET"